.loginpage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.text{
    text-align: center;
}
.username{
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.password{
   
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.loginbtn{
    margin-top: 70px;
    margin-left: 120px;
   }