@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
/* font-family: "Sniglet", cursive;
font-size: 3rem; */
/* @mixin design {
    background: linear-gradient(
      180deg,
      #ef5350 30%,
      #f48fb1 40%,
      #7e57c2 60%,
      #2196f3 70%
    ); */

/* #grad {
  background-image: linear-gradient(to right, red, yellow);
} */
.maincontainer {
  height: 100%;
  width: 100%;
  padding: 3px;
  margin: 10px;
}
.heading {
  display: flex;
  justify-content: center;
}

.gradienttext {
  /* position: absolute; */
  top: 40%;
  left: 40%;

  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* background: linear-gradient(
    180deg,
    #ef5350 30%,
    #f48fb1 40%,
    #7e57c2 60%,
    #2196f3 70%
  ); */
  /* -webkit-background-clip: text;
  color: rgb(241, 117, 169);
  background: -webkit-linear-gradient(#eee, #333); */
  /* text: -webkit-linear-gradient(#eee, #333); */
  /* background-color: #f3ec78;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%; */
  /* -webkit-background-clip: text;
  -moz-background-clip: text; */
  /* -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent; */
}
.mainpage {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
